.back{
    background-image: url("https://img.pngio.com/artistic-waves-blue-abstract-powerpoint-backgrounds-wallpapers-blue-backgrounds-png-1579_945.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}